<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home Page</title>
    <link href="/Content/css/bootstrap.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Copse" rel="stylesheet">
    <link href="/Content/css/styles.css" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <ul class="nav navbar-nav">
          <li><a href="/bands">See the Bands!</a></li>
          <li><a href="/venues">See the Venues!</a></li>
        </ul>
      </div>
    </nav>
    <div class="container text-center">
      <h2>Welcome to the Band Tracker</h2>
      <h4>See where all your favorite bands have played!</h4>
    </div>
    </div>
  </body>
</html>
