<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home Page</title>
    <link href="/Content/css/bootstrap.css" rel="stylesheet">
    <link href="/Content/css/styles.css" rel="stylsheet">
  </head>
  <body>
    <div class="well">
      <h2>Welcome to the Band Tracker</h2>
      <h4>See where all your favorite bands have played!</h4>
    </div>
    <div class="container">
      <p><a href="/bands">See the Bands!</a></p>
      <p><a href="/venues">See the Venues!</a></p>
    </div>
  </body>
</html>
