<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Add Band</title>
    <link href="/Content/css/bootstrap.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Copse" rel="stylesheet">
    <link href="/Content/css/styles.css" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <ul class="nav navbar-nav">
          <li><a href="/">Home</a></li>
          <li><a href="/bands">View All Bands</a></li>
          <li><a href="/venues">View All Venues</a></li>
        </ul>
      </div>
    </nav>
    <div class="container text-center">
      <form action="/band/new" method="post">
        <div class="form-group">
          <label for="band-name">Band Name:</label>
          <input type="text" name="band-name" class="form-control">
        </div>
        <button type="submit" name="button" class="btn btn-danger">Add a Band!</button>
      </form>
      @if(Model!=null)
      {
        <div class="container text-center">
          <h4>The Band Has Been Added</h4>
          <p>Band Name: @Model.GetName()</p>
        </div>
      }
    </div>
  </body>
</html>
