<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Edit Venue</title>
    <link href="/Content/css/bootstrap.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Copse" rel="stylesheet">
    <link href="/Content/css/styles.css" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <ul class="nav navbar-nav">
          <li><a href="/">Home</a></li>
          <li><a href="/bands">View All Bands</a></li>
          <li><a href="/venues">View All Venues</a></li>
        </ul>
      </div>
    </nav>
    <h2>Edit: @Model.GetName()</h2>
    <form action="/venue/edit/@Model.GetId()" method="post">
        <input class="form-control" type="hidden" name="_method" value="PATCH">
        <input name="venue-id" type="hidden" value="@Model.GetId()">
        <div class="form-group">
          <label for="venue-name">Venue Name</label>
          <input class="form-control" name="venue-name" type="text">
       </div>
       <button type="submit" class="btn btn-danger">Submit</button>
    </form>
  </body>
</html>
